.bg-container {
  display: flex;
  flex-direction: column;
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  width: 100vw;
  align-items: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .button-container {
    display: flex;
    flex-direction: row;
  }
}
.button-1 {
  background-color: #eab308;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  color: white;
}
.button-1 {
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  color: black;
}
.button-3 {
  background-color: #1d4ed8;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  color: white;
}
